<% unless user.current_user? current_user %>
  <div id="follow_form">
    <% if current_user.following? user %>
      <%= render "unfollow", object: relationship %>
    <% else %>
      <%= render "follow", object: relationship, user: user %>
    <% end %>
  </div>
<% end %>
