# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a6638c252f949d61f4844b5d00d8d25b5e7464e11f0d65477682d3b1b98cdc897defacb9a4852b2e494ab40669f0c704b7fd031ed2101bfce97b836372e2cc67

test:
  secret_key_base: c3c7d688141b52823404c51c0b3d8b95f891aa96386b99967a31e60bce28fd9477ac126604db3a55353ce4e7af8f065c890dc5dc4bdfdd4fa09aeef2cc9f9c9c

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
